<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <span style="color: red; font-weight: 500; font-size: 40px">B</span>ook<span
      style="color: red; font-weight: 500"
      >W</span
    >orm
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/viewcategory']"
          >Category <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/viewbook']">Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/viewcustomer']">Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/vieworder']">Orders</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/viewaddress']">Address</a>
      </li>
    </ul>
  </div>

  <!-- <div class="navbar-header">
      <button *ngIf="loggedIn" (click)="logOut()" type="button" class="btn btn-danger navbar-brand pull-right ">Log Out</button>
     
   </div> -->

  <div class="navigation">
    <a class="button" href="">
      <img src="assets/img/img4.svg" />

      <div class="logout">LOGOUT</div>
    </a>
  </div>
</nav>

<router-outlet></router-outlet>
